@charset "uft-8";
/* css document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(190, 70, 70);
    /*font-family: 'Song';*/
}

p {
    font-size: x-large;
    font-weight: normal;
}

h1 {
    font-weight: normal;
    line-height: normal;
}

.enterbutton {
    position: relative;
    left: 58vw;
    top: 25vw;
    color: rgb(200, 150, 50);
    background-color: white;
    border-style: solid;
    border-radius: 2.5vw;
    border-width: 0.5vw;
    border-color: rgb(200, 150, 50);
    width: 14vw;
    height: 5vw;
    font-size: 2.5vw;
    padding-top: 0.2vw;
    font-weight: bold;
    text-align: center;
    user-select: none;
    transition: 0.6s;
}

.enterbutton:hover {
    cursor: pointer;
    color: rgb(133, 112, 22);
    background-color: rgb(231, 191, 138);
    border-color: rgb(133, 112, 22);
    box-shadow: 1vw 1vw 1vw rgba(0 , 0 , 0 , 0.3);
}

.enterbutton:active {
    color: rgb(95, 80, 11);
    background-color: rgb(206, 166, 114);
    border-color: rgb(95, 80, 11);
}

.clock {
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 20px;
}

.container {
    overflow: hidden;
    height: 44vw;
}

.overlay {
    position: absolute;
    top: 80px;
    left: 30vw;
    margin-top: 0vw;
    z-index: 1;
    padding-bottom: 18.5vw;
}

.homeimg {
    background-image: url('image/homepage/gaza.jpg');
    background-size: cover;
    height: 52vw;
    overflow: hidden;
}

.homeimg p {
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 1.2vw;
}

.homeimg h1 {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 4vw;
}

.homeimgtext {
    padding: 1vw;
    width: fit-content;
    background-color: rgba(80 , 80 , 80 , 0.3);
    box-shadow: 1vw 1vw 1vw rgba(0 , 0 , 0 , 0.3);
    margin-left: auto;
    margin-right: auto;
    border-radius: 3vw;
}

.homeimgtext img {
    height: 4vw;
    padding-top: 0.3vw;
}

.gazabutton {
    background-color: rgba(80 , 80 , 80 , 0.2);
    border: none;
    border-radius: 0.4vw;
    padding: 0.2vw;
    cursor: pointer;
    margin-left: 10vw;
}

.gazabutton:hover {
    background-color: rgba(80 , 80 , 80 , 0.4);
}

.cover {
    background-image: url('image/main/2025web.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    margin-top: 4vw;
    margin-bottom: 0vw;
    width: 79vw;
    height: 40vw;
}