@charset "uft-8";
/* css document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'STSong';
}

h1 {line-height: normal;}

.emptyspace {
    height: 14vw !important;
    min-height:140px;
}

.container {
    position:absolute;
    overflow: hidden;
    top: 100px;
    height: 44vw;
}

.container video {
    position:relative;
    display: block;
    z-index: 0;
    overflow:hidden;
}

.overlay {
    z-index: 1;
}