@charset "uft-8";
/* css document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Song';*/
}

p {
    font-size: x-large;
    font-weight: normal;
}

h1 {
    font-weight: normal;
    line-height: normal;
}

.clock {
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 20px;
}

.emptyspace {
    height: 14vw !important;
    min-height:140px;
}

.container {
    position:absolute;
    overflow: hidden;
    top: 100px;
    height: 44vw;
}

.container video {
    position:relative;
    display: block;
    z-index: 0;
    overflow:hidden;
}

.overlay {
    z-index: 1;
}