@charset "uft-8";
/* css document */

.colortext {
    background-image: -webkit-linear-gradient(top, rgb(172, 225, 243), skyblue , rgb(199, 227, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.friendlink {
    background-color: white;
    color: gray;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    transition: 1s;
}

.friendlink:hover {
    background-color: rgb(179, 216, 231);
    color: black;
}