@charset "uft-8";
/* css document */

h1 {
    text-align: center;
}

.type1 {
    text-align: left;
}

.type2 {
    text-align: center;
}

.colortext {
    background-image: -webkit-linear-gradient(top, rgb(172, 225, 243), skyblue , rgb(199, 227, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    text-align: center;
}

p1 {
    position: relative;
    left: 33vw;
    text-align: left;
}