@charset "uft-8";
/* css document */

body {
    font-weight: normal;
    line-height: 2em;
}

h1 {
    font-weight: normal;
    text-align: center;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

li {
    font-weight: normal;
}

.type1 {
    text-align: left;
}

.type2 {
    text-align: center;
}

.colortext {
    background-image: -webkit-linear-gradient(top, rgb(172, 225, 243), skyblue , rgb(199, 227, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    text-align: center;
}

p1 {
    position: relative;
    left: 33vw;
    text-align: left;
}