@charset "uft-8";
/* css document */

h1 {
    text-align: center;
}

.type1 {
    text-align: left;
}

.type2 {
    text-align: center;
}

p {
    text-align: center;
}

p1 {
    position: relative;
    left: 33vw;
    text-align: left;
}